# Random Operations

In [107]:
import numpy as np

def xx(m=0, n=10, exclude=set([0, 1])):
    while True:
        x = np.random.randint(m, n)
        if x not in exclude:
            return x    
    
def sums(m=10, n=10, ml=0, nl=0, op='+', exclude=set([0, 1])):
    
    y = xx(nl, n, exclude)
    x = xx(ml, m, exclude)
    if op == '+':
        r = x + y
    elif op == '-':
        r = x - y
    elif op == '*' or op == 'x':
        r = x * y
    elif op == '/':
        r = x / y
    elif op == '% of ':
        r = x * y / 100
    elif op == '//':
        while (x // y) != (x / y):
            x = xx(ml, m, exclude)
        r = x // y
    return x, y, r

def user_to_int(user_input, decimal_places=4):
    fmt = '%%.%sf' % decimal_places
    try:
        user_input = float(fmt % float(user_input))
    except:
        user_input = None
    return user_input

def get_verified_input(x, y, r, op, index):
    chances = 0
    while True:
        print(index, '>    ', x, op, y, '=', end=' ')
        user_input = user_to_int(input())
        result_compare = float('%.4f' % r)
        if user_input == result_compare: # ALERT: since we only compare 4 decimals!!!
            break
        print('again, ', end='')
        chances += 1
    if user_input == result_compare:
        print('  YES!')
    else:
        print('  '. user_input, ' is WRONG.', x, ' ', op, ' ', y, ' = ', result_compare,'\m\n')

def get_mental_math(x, y, r, op, index):
    print(index, '>    ', x, op, y, '=', end=' ')
    result_discard = input()
    print(r)
    
def generate_mental_math(
        sums_per_operator = 5,
        operators = ['+', '-', '/', '*', '% of ', '//'],
        max_chances = 3,
        m = (0, 10),    
        n = (0, 10),
        input_process=get_verified_input,
        exclude=set([0, 1, 10, 11, 20])):
    
    opsums = operators * sums_per_operator
    np.random.shuffle(opsums)
    for i in range(len(opsums)):
        op = opsums[i]
        x, y, r = sums(m[1], n[1], ml=m[0], nl=n[0], op=op, exclude=exclude)
        input_process(x, y, r, op, i+1)
    print('That\'s all folks!')

# Int to String Transformation

In [4]:
# https://stackoverflow.com/a/35416917
def int_to_en_legacy(num):
    d = { 0 : 'zero', 1 : 'one', 2 : 'two', 3 : 'three', 4 : 'four', 5 : 'five', \
          6 : 'six', 7 : 'seven', 8 : 'eight', 9 : 'nine', 10 : 'ten', \
          11 : 'eleven', 12 : 'twelve', 13 : 'thirteen', 14 : 'fourteen', \
          15 : 'fifteen', 16 : 'sixteen', 17 : 'seventeen', 18 : 'eighteen', \
          19 : 'ninteen', 20 : 'twenty', \
          30 : 'thirty', 40 : 'fourth', 50 : 'fifty', 60 : 'sixty', \
          70 : 'seventy', 80 : 'eighty', 90 : 'ninty' }
    k = 1000
    m = k * 1000

    if (num < 20):
        return d[num]

    if (num < 100):
        if num % 10 == 0:
            return d[num]
        else:
            return d[num // 10 * 10] + ' ' + d[num % 10]

    if (num < k):
        if num % 100 == 0:
            return d[num // 100] + ' hundred'
        else:
            return d[num // 100] + ' hundred ' + int_to_en(num % 100)
    if (num < m):
        if num % k == 0:
            return int_to_en(num // k) + ' thousand'
        else:
            return int_to_en(num // k) + ' thousand, ' + int_to_en(num % k)

def int_to_en(x):
    if x < 0:
        return '-' + int_to_en(-x)
    
    INT_TO_EN = {
        0: 'zero',
        1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five',
        6: 'six', 7: 'seven', 8: 'eight', 9: 'nine',
        10: 'ten',
        11: 'eleven', 12: 'twelve', 13: 'thirteen', 14: 'fourteen', 15: 'fifteen',
        16: 'sixteen', 17: 'seventeen', 18: 'eighteen', 19: 'nineteen',
        20: 'twenty',
        30: 'thirty', 40: 'forty', 50: 'fifty', 60: 'sixty', 70: 'seventy', 80: 'eighty', 90: 'nintey',
        100: 'hundred',
        1000: 'thousand',
        1000000: 'million',
    }
    
    def point(wf):
        return '' if wf == 'zero' else " " + wf

    if x < 20:
        return INT_TO_EN[x]
    
    if x < 100:
        if x % 10 == 0:
            return INT_TO_EN[x]
        return INT_TO_EN[10 * (x // 10)] + " " + INT_TO_EN[x % 10]
    
    if x < 1000:
        return INT_TO_EN[x // 100] + " " + INT_TO_EN[100] + point(int_to_en(x % 100))
    
    if x < 1000000:
        return int_to_en(x // 1000) + " " + INT_TO_EN[1000] + point(int_to_en(x % 1000))

# Multiplication Tables

In [14]:
def multiplied(x, l=10, spaces=''):
    for r in range(1, l+1):
        print("%s%3s x %3s = %3s      %5s x %5s-za = %25s" % (spaces, x, r, r * x, int_to_en(x), int_to_en(r), int_to_en(r*x)))

def multiplicating_table(x, l=10, int_begin=2):
    for r in range(int_begin, x+1):
        print(int_to_en(r))
        multiplied(r, l, spaces='\t')
        print('\n\n\n')

### Multiplication Tables Short Form

In [73]:
def multiplication_table(n, e):
    print('')
    print('')
    # multiplication table of n to e
    print('    ' + ''.join(['  %5.0f'  % idx for idx in range(n, e)]))
    print('-' * (4+7*(e-n)))
    for idx in range(1, 11):
        print('x%3.0f' % idx + ''.join(['  %5.0f' % (jdx * idx) for jdx in range(n, e)]))
    print('')        
    print('')
    
ntuple = 9
for idx in range(2, 20, ntuple):
    multiplication_table(idx, idx+ntuple)

          2      3      4      5      6      7      8      9     10
-------------------------------------------------------------------
x  1      2      3      4      5      6      7      8      9     10
x  2      4      6      8     10     12     14     16     18     20
x  3      6      9     12     15     18     21     24     27     30
x  4      8     12     16     20     24     28     32     36     40
x  5     10     15     20     25     30     35     40     45     50
x  6     12     18     24     30     36     42     48     54     60
x  7     14     21     28     35     42     49     56     63     70
x  8     16     24     32     40     48     56     64     72     80
x  9     18     27     36     45     54     63     72     81     90
x 10     20     30     40     50     60     70     80     90    100




         11     12     13     14     15     16     17     18     19
-------------------------------------------------------------------
x  1     11     12     13     14     15     16     17     18     19
x  2     22     24     26     28     30     32     34     36     38
x  3     33     36     39     42     45     48     51     54     57
x  4     44     48     52     56     60     64     68     72     76
x  5     55     60     65     70     75     80     85     90     95
x  6     66     72     78     84     90     96    102    108    114
x  7     77     84     91     98    105    112    119    126    133
x  8     88     96    104    112    120    128    136    144    152
x  9     99    108    117    126    135    144    153    162    171
x 10    110    120    130    140    150    160    170    180    190

### Random Operations Examples

In [109]:
#generate_mental_math(2, ['*'], 3, m=(0, 10), n=(0, 10))
#generate_mental_math(30, ['+', '-'], 3)
#generate_mental_math(30, ['+', '-'], 3, m=(5, 10))
#generate_mental_math(120, ['+'], 3, m=(0, 10), n=(0, 10), input_process=get_mental_math)
#generate_mental_math(30, ['+'], 3, m=(0, 100), n=(0, 10))
#generate_mental_math(30, ['*'], 3, m=(0, 10), n=(0, 10))
#generate_mental_math(120, ['*'], 3, m=(1, 13), n=(1, 10), input_process=get_mental_math)
#generate_mental_math(30, ['*'], 3, m=(0, 10), n=(0, 10))
#generate_mental_math(120, ['*'], input_process=get_mental_math, m=(0, 21), n=(0, 11))

#generate_mental_math(10, ['+', '-'], 3, m=(0, 100), n=(0, 100))
#generate_mental_math(10, ['//'], 3, m=(0, 100), n=(0, 11))

# Daily Exercise

In [113]:
generate_mental_math(10, ['+', '-'], 3, m=(0, 100), n=(0, 100))

1 >     14 - 67 = -53
  YES!
2 >     9 - 41 = -32
  YES!
3 >     30 + 97 = 127
  YES!
4 >     7 + 82 = 89
  YES!
5 >     34 - 14 = 20
  YES!
6 >     59 - 4 = 55
  YES!
7 >     17 + 51 = 68
  YES!
8 >     68 - 44 = 24
  YES!
9 >     26 - 17 = 19
again, 9 >     26 - 17 = 9
  YES!
10 >     38 + 82 = 120
  YES!
11 >     30 + 8 = 38
  YES!
12 >     48 + 84 = 132
  YES!
13 >     35 + 51 = 86
  YES!
14 >     98 + 67 = 165
  YES!
15 >     16 - 15 = 1
  YES!
16 >     2 - 65 = -63
  YES!
17 >     77 + 19 = 96
  YES!
18 >     38 - 75 = -37
  YES!
19 >     57 + 82 = 139
  YES!
20 >     31 - 98 = -67
  YES!
That's all folks!

In [112]:
generate_mental_math(20, ['*'], 3, m=(1, 13), n=(1, 10))

1 >     8 * 2 = 16
  YES!
2 >     4 * 7 = 28
  YES!
3 >     5 * 2 = 10
  YES!
4 >     2 * 5 = 10
  YES!
5 >     8 * 9 = 72
  YES!
6 >     12 * 3 = 36
  YES!
7 >     5 * 9 = 45
  YES!
8 >     5 * 8 = 40
  YES!
9 >     5 * 3 = 15
  YES!
10 >     8 * 6 = 48
  YES!
11 >     8 * 2 = 16
  YES!
12 >     3 * 5 = 15
  YES!
13 >     2 * 4 = 8
  YES!
14 >     5 * 5 = 25
  YES!
15 >     4 * 7 = 28
  YES!
16 >     7 * 2 = 14
  YES!
17 >     9 * 6 = 54
  YES!
18 >     6 * 5 = 30
  YES!
19 >     6 * 3 = 18
  YES!
20 >     9 * 5 = 45
  YES!
That's all folks!

In [111]:
generate_mental_math(10, ['*'], 3, m=(11, 21), n=(1, 10))

1 >     16 * 7 = 96
again, 1 >     16 * 7 = 112
  YES!
2 >     14 * 6 = 84
  YES!
3 >     12 * 5 = 60
  YES!
4 >     16 * 5 = 80
  YES!
5 >     15 * 7 = 105
  YES!
6 >     19 * 6 = 114
  YES!
7 >     18 * 6 = 108
  YES!
8 >     18 * 5 = 90
  YES!
9 >     14 * 7 = 98
  YES!
10 >     18 * 9 = 162
  YES!
That's all folks!

In [110]:
generate_mental_math(20, ['//'], 3, m=(1, 100), n=(1, 11))

1 >     48 // 8 = 6
  YES!
2 >     18 // 2 = 9
  YES!
3 >     45 // 9 = 5
  YES!
4 >     7 // 7 = 1
  YES!
5 >     24 // 4 = 6
  YES!
6 >     68 // 4 = 17
  YES!
7 >     63 // 9 = 6
again, 7 >     63 // 9 = 7
  YES!
8 >     18 // 9 = 2
  YES!
9 >     66 // 3 = 22
  YES!
10 >     64 // 8 = 8
  YES!
That's all folks!

In [82]:
generate_mental_math(10, ['/'], 3, m=(1, 100), n=(1, 11))

1 >  29 / 6 = 4.83333333
  YES!
2 >  37 / 9 = 4.111111111
  YES!
3 >  88 / 7 = 12.571328
again, 3 >  88 / 7 = 12.571428
  YES!
4 >  8 / 7 = 1.1425714
again, 4 >  8 / 7 = 1.142857
  YES!
5 >  55 / 8 = 6.8888888
again, 5 >  55 / 8 = 6.875
  YES!
6 >  53 / 8 = 6.625
  YES!
7 >  4 / 4 = 1
  YES!
8 >  52 / 3 = 17.3333333334
  YES!
9 >  27 / 4 = 6.75
  YES!
10 >  89 / 4 = 22.25
  YES!
That's all folks!

In [87]:
multiplied(np.random.randint(2, 11))

  4 x   1 =   4       four x   one-za =                      four
  4 x   2 =   8       four x   two-za =                     eight
  4 x   3 =  12       four x three-za =                    twelve
  4 x   4 =  16       four x  four-za =                   sixteen
  4 x   5 =  20       four x  five-za =                    twenty
  4 x   6 =  24       four x   six-za =               twenty four
  4 x   7 =  28       four x seven-za =              twenty eight
  4 x   8 =  32       four x eight-za =                thirty two
  4 x   9 =  36       four x  nine-za =                thirty six
  4 x  10 =  40       four x   ten-za =                     forty

In [86]:
multiplied(np.random.randint(11, 21))

 17 x   1 =  17      seventeen x   one-za =                 seventeen
 17 x   2 =  34      seventeen x   two-za =               thirty four
 17 x   3 =  51      seventeen x three-za =                 fifty one
 17 x   4 =  68      seventeen x  four-za =               sixty eight
 17 x   5 =  85      seventeen x  five-za =               eighty five
 17 x   6 = 102      seventeen x   six-za =           one hundred two
 17 x   7 = 119      seventeen x seven-za =      one hundred nineteen
 17 x   8 = 136      seventeen x eight-za =    one hundred thirty six
 17 x   9 = 153      seventeen x  nine-za =   one hundred fifty three
 17 x  10 = 170      seventeen x   ten-za =       one hundred seventy